TASKER_AI_API_KEY=sk-dummy
TASKER_AI_PLANNING_MODEL=google/gemini-3.1-flash-lite
TASKER_AI_TASK_ASSISTANT_MODEL=google/gemini-3.1-flash-lite
SPRING_PROFILES_ACTIVE=dev

# Email settings
TASKER_EMAIL_ENABLED=false
TASKER_EMAIL_AUTH_FROM=
TASKER_EMAIL_AUTH_FROM_NAME=
TASKER_EMAIL_AUTH_SMTP_USERNAME=
TASKER_EMAIL_AUTH_SMTP_PASSWORD=
TASKER_EMAIL_SCHEDULING_FROM=
TASKER_EMAIL_SCHEDULING_FROM_NAME=
TASKER_EMAIL_SCHEDULING_SMTP_USERNAME=
TASKER_EMAIL_SCHEDULING_SMTP_PASSWORD=